:root {
    /* --max-width: calc(256px * 4 + 16px * 3); */
    --max-width: calc(256px * 4);
    --header-color: rgb(016, 016, 016);
}
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
*:focus {
    outline: 0;
}
html {
    background: rgb(16,16,24);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
body {
    /* background: rgb(16,16,24,0.9875); */
    min-height: 100vh;
}
#background {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
#background img {
    position: fixed;
    top: 0;
    width: 100%;
    filter: blur(16px);
    scale: 1.125;
}



/* ============== */
/* === HEADER === */
/* ============== */
header {
    width: 100%;
    height: 64px;
    background: var(--header-color);
    position: sticky;
    top: 0;
    z-index: 2;
    border-bottom: 4px solid rgb(064, 064, 064);
    box-shadow: 0px 0px 16px 8px rgb(000, 000, 000);
}
header > .content {
    padding: 16px;
    max-width: calc(var(--max-width) - 16px * 2);
    margin: auto;
    display: flex;
    justify-content: space-between;
}
header > .content h1 {
    height:      32px;
    font-size:   32px;
    line-height: 32px;
    color: white;
    user-select: none;
}
header > .content nav .content {
    display: flex;
    gap: 8px;
    align-items: flex-start;
}
header > .content nav #searcher {
    display: flex;
    border-radius: 8px;
    margin: 0;
    background-color: white;
    margin-right: 16px;
}
header > .content nav #searcher input {
    border: 0;
    background-color: transparent;
    height: 24px;
    padding: 4px 8px;
}
header > .content nav #searcher input:focus {
    outline: none;
}
header .content nav #searcher.hidden input {
    display: none;
}
header .content nav #searcher button {
    border: 0;
    background-color: transparent;
    width: 32px;
    height: 32px;
}
header .content nav a {
    padding:     8px 16px;
    height:      16px;
    font-size:   16px;
    font-weight: bold;
    line-height: 16px;
    text-decoration: none;
    color: white;
}
header .content nav a:hover {
    background-color: rgb(128, 128, 128);
    border-radius: 8px;
}



/* ============ */
/* === MAIN === */
/* ============ */
main {
    min-height: calc(100vh - (64px + 4px) - 0px);
}
main > .content {
    min-height: calc(100vh - (64px + 4px) - 0px);
}
main > .content section {
    padding: 32px 0px;
    background-color: rgb(032, 032, 032);
}
main > .content section > * {
    width: calc(100% - 16px * 2);
    max-width: calc(var(--max-width) - 16px * 2);
    margin: auto;
    padding: 16px;
}
main > .content section > h2 {
    height:      24px;
    font-size:   24px;
    line-height: 24px;
    color:            rgb(255,255,255);
    display: flex;
    justify-content: space-between;
}
main > .content section > .content {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}



main .content[name="home"] section[name="banner"] {
    background-color: transparent;
    height: calc(512px - 128px);
}
main .content[name="home"] section[name="banner"] .content {
    height: inherit;
    background-color: transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
main .content[name="home"] section[name="banner"] .content .data {
    width: calc((var(--max-width) - 16px * 3 ) / 4 * 1.5 + 16px);
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: flex-start;
}
main .content[name="home"] section[name="banner"] .content .data .title{
    font-size: 32px;
    line-height: 32px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 16px rgb(000, 000, 000, 0.750);
}
main .content[name="home"] section[name="banner"] .content .data .genres{
    color: rgb(255, 255, 255);
    display: flex;
    gap: 16px;
}
main .content[name="home"] section[name="banner"] .content .data .genres span{
    padding: 8px 16px;
    border-radius: 16px;
    background-color: rgb(128, 192, 192);
    box-shadow: 0 0 12px 0 rgb(000, 000, 000, 0.500);
    color: rgb(000, 000, 000, 0.750);
    height:      12px;
    font-size:   12px;
    line-height: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
main .content[name="home"] section[name="banner"] .content .data .see {
    padding: 8px 16px;
    border-radius: 16px;
    background-color: rgb(128, 192, 192);
    box-shadow: 0 0 12px 0 rgb(000, 000, 000, 0.500);
    color: rgb(000, 000, 000, 0.500);
    border: 4px solid rgb(000, 000, 000, 0.500);
    height:      16px;
    font-size:   16px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
main .content[name="home"] section[name="recentEpisodes"] {
    border-top: 4px solid rgb(064, 064, 064);
    box-shadow: 0px 0px 16px 8px rgb(000, 000, 000);
}



main .content[name="search"] section[name="filter"] {
    padding-bottom: 0;
    /* max-width: calc(var(--max-width) - 4px * 2);
    border: 4px solid rgb( 32,  32,  48);
    margin: auto;
    margin-top: 16px;
    padding: 0;
    overflow: hidden; */
}
main .content[name="search"] section[name="filter"] .content{
    display: block;
}
main .content[name="search"] section[name="filter"] .content nav {
    max-width: calc(var(--max-width) - 16px * 2 );
    border-radius: 16px;
    padding: 8px;
    border: 4px solid rgb(064, 064, 064);
    background-color: rgb(016, 016, 016);
}
main .content[name="search"] section[name="filter"] .content nav .simple {
    padding: 8px;
}
main .content[name="search"] section[name="filter"] .content nav .simple p {
    width:       100%;
    height:      20px;
    font-size:   20px;
    line-height: 20px;
    font-weight: bold;
    color: rgb(192, 192, 192);
}
main .content[name="search"] section[name="filter"] .content nav .simple div {
    padding-top: 8px;
    display: flex;
    gap: 16px;
}
main .content[name="search"] section[name="filter"] .content nav .simple div input {
    width: 100%;
    height:      16px;
    font-size:   16px;
    line-height: 16px;
    color: rgb(192, 192, 192);
    background-color: rgb(032, 032, 032);
    padding: 4px 8px;
    border: 4px solid rgb(064, 064, 064);
    border-radius: 8px;
}
main .content[name="search"] section[name="filter"] .content nav .simple div button {
    height:     32px;
    font-size:  16px;
    line-height: 0px;
    padding: 8px 16px;
    color: rgb(192, 192, 192);
    background-color: rgb(032, 032, 032);
    border: 4px solid rgb(064, 064, 064);
    border-radius: 8px;
    font-weight: bold;
}
main .content[name="search"] section[name="filter"] .content nav .simple div button:hover {
    border-color: rgb(192, 192, 192);
}
main .content[name="search"] section[name="filter"] .content nav .advanced {
    padding: 8px;
    display: flex;
    gap: 16px;
}
main .content[name="search"] section[name="filter"] .content nav .advanced details {

}
main .content[name="search"] section[name="filter"] .content nav .advanced details summary {
    width:       100%;
    height:      20px;
    font-size:   20px;
    line-height: 20px;
    font-weight: bold;
    color: rgb(192, 192, 192);
}
main .content[name="search"] section[name="filter"] .content nav .advanced details .content {
    margin-top: 8px;
    border-radius: 16px;
    border: 4px solid rgb(064, 064, 064);
    padding: 8px;
}
main .content[name="search"] section[name="filter"] .content nav .advanced details .content .list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px 16px 8px 8px;
    max-height: calc(13px * 8 + 8px * 7);
    overflow-y: auto;
    overflow-x: hidden;
}
main .content[name="search"] section[name="filter"] .content nav .advanced details .content .list p {
    display: flex;
    gap: 4px;
    height: 13px;
    font-size: 13px;
    line-height: 13px;
    color: white;
}
main .content[name="search"] section[name="results"] {
    padding-top: 0;
}
main .content[name="horary"] section[name="dayNavigator"] {
    padding-bottom: 0;
}
main .content[name="horary"] section[name="animeList"] {
    padding-top: 0;
}



main .content[name="anime"]   section[name="animeData"],
main .content[name="episode"] section[name="animeData"] {
    background-color: rgb(000, 000, 000, 0.500);
    width: 100%;
    max-width: 100%;
}
main .content[name="anime"]   section[name="animeData"] .content ,
main .content[name="episode"] section[name="animeData"] .content {
    background-color: transparent;
    padding: 16px 16px 32px 16px;
    max-width: calc(var(--max-width) - 16px * 2);
    margin: auto;
    grid-template-columns: calc((100% - 16px * 3) / 4) auto;
}
main .content[name="anime"]   section[name="animeData"] .content .col1,
main .content[name="episode"] section[name="animeData"] .content .col1 { 
    display: flex;
    flex-direction: column;
    gap: 16px;
}
main .content[name="anime"]   section[name="animeData"] .content .col1 .image,
main .content[name="episode"] section[name="animeData"] .content .col1 .image {
    width: calc(100% - 4px * 2);
    aspect-ratio: 11 / 16;
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 4px solid rgb(064, 064, 064);
    box-shadow: 0px 0px 32px 0px rgb(000, 000, 000, 0.750);
    border-radius: 16px;
    flex-direction: column;
}
main .content[name="anime"]   section[name="animeData"] .content .col1 .image img,
main .content[name="episode"] section[name="animeData"] .content .col1 .image img {
    height: 100%;
    min-width: 100%;
}
main .content[name="anime"]   section[name="animeData"] .content .col1 .status,
main .content[name="episode"] section[name="animeData"] .content .col1 .status {
    height:      20px;
    font-size:   20px;
    line-height: 20px;
    color: rgb(128, 160, 192);
    padding-bottom: 4px;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 16px;
    border: 4px solid rgb(000, 000, 000, 0.500);
    color: rgb(000, 000, 000, 0.750);
    text-align: center;
}
main .content[name="anime"]   section[name="animeData"] .content .col1 .status.onair,
main .content[name="episode"] section[name="animeData"] .content .col1 .status.onair {
    background-color: rgb(064, 192, 064);
}
main .content[name="anime"]   section[name="animeData"] .content .col1 .status.ended,
main .content[name="episode"] section[name="animeData"] .content .col1 .status.ended {
    background-color: rgb(192, 064, 064);
}
main .content[name="anime"]   section[name="animeData"] .content .col1 .status.unknown,
main .content[name="episode"] section[name="animeData"] .content .col1 .status.unknown {
    background-color: rgb(128, 128, 128);
}
main .content[name="anime"]   section[name="animeData"] .content .col2 .data,
main .content[name="episode"] section[name="animeData"] .content .col2 .data { 
    width: 100%;
    padding: 16px 0;
}
main .content[name="anime"]   section[name="animeData"] .content .col2 .data h2,
main .content[name="episode"] section[name="animeData"] .content .col2 .data h2 { 
    font-size:   32px;
    line-height: 32px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 16px rgb(000, 000, 000, 0.750);
}
main .content[name="anime"]   section[name="animeData"] .content .col2 .data h3,
main .content[name="episode"] section[name="animeData"] .content .col2 .data h3 { 
    height:      20px;
    font-size:   20px;
    line-height: 20px;
    padding-top: 16px;
    padding-bottom: 8px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 16px rgb(000, 000, 000, 0.750);
}
main .content[name="anime"]   section[name="animeData"] .content .col2 .data .row,
main .content[name="episode"] section[name="animeData"] .content .col2 .data .row { 
    padding-bottom: 8px;
    text-shadow: 0px 0px 12px rgb(000, 000, 000, 1.000);
}
main .content[name="anime"]   section[name="animeData"] .content .col2 .data .row .title,
main .content[name="episode"] section[name="animeData"] .content .col2 .data .row .title {
    height:      16px;
    font-size:   16px;
    line-height: 16px;
    font-weight: bold;
    color: rgb(192, 192, 192);
}
main .content[name="anime"]   section[name="animeData"] .content .col2 .data .row p,
main .content[name="episode"] section[name="animeData"] .content .col2 .data .row p {
    display: inline-block; 
    height: 16px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 16px
}
main .content[name="anime"]   section[name="animeData"] .content .col2 .data .row p.clickable,
main .content[name="episode"] section[name="animeData"] .content .col2 .data .row p.clickable {
    color: rgb(192, 255, 255);
}
main .content[name="anime"]   section[name="animeData"] .content .col2 .data .genres,
main .content[name="episode"] section[name="animeData"] .content .col2 .data .genres  {
    display: flex;
    gap: 16px;
}
main .content[name="anime"]   section[name="animeData"] .content .col2 .data .genres span ,
main .content[name="episode"] section[name="animeData"] .content .col2 .data .genres span {
    padding: 8px 16px;
    border-radius: 16px;
    background-color: rgb(128, 192, 192);
    box-shadow: 0 0 12px 0 rgb(000, 000, 000, 0.500);
    color: rgb(000, 000, 000, 0.750);
    height:      12px;
    font-size:   12px;
    line-height: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
main .content[name="anime"] section[name="animeData"] .content.hentai .image img,
main .content[name="episode"] section[name="animeData"] .content.hentai .image img {
    filter: blur(16px); scale: 1.125;
}
main .content[name="anime"] section[name="animeData"] .content.hentai .data h2,
main .content[name="episode"] section[name="animeData"] .content.hentai .data h2 {
    filter: blur( 4px);
}
main .content[name="anime"] section[name="animeData"] .content.hentai .data h3,
main .content[name="episode"] section[name="animeData"] .content.hentai .data h3 {
    filter: blur( 4px);
}
main .content[name="anime"]   section[name="animeData"] .content,
main .content[name="episode"] section[name="animeData"] .content {

}

main .content[name="anime"]   section[name="episodeList"],
main .content[name="episode"] section[name="episodeLinks"]  {
    border-top: 4px solid rgb(064, 064, 064);
    box-shadow: 0px 0px 16px 8px rgb(000, 000, 000);
}
main .content[name="anime"] section[name="episodeList"] .content {}
@media screen and (max-width: calc(256px * 4 + 16px * 3)) { main section > .content { grid-template-columns: repeat(3, 1fr); } }
@media screen and (max-width: calc(256px * 3 + 16px * 2)) { main section > .content { grid-template-columns: repeat(2, 1fr); } }
@media screen and (max-width: calc(256px * 2 + 16px * 1)) { main section > .content { grid-template-columns: repeat(1, 1fr); } }



/* ============== */
/* === FOOTER === */
/* ============== */
footer {
    background-color: rgb(016, 016, 016);
    border-top: 4px solid rgb(064, 064, 064);
    padding: 16px 16px 32px 16px;
}



/* ============= */
/* === CARDS === */
/* ============= */
.card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.card .page {
    width: 100%;
    height: 20px;
    border-radius: 8px 8px 0 0;
    margin-bottom: -16px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 4px 0px;
    z-index: 1;
}
.card .image {
    width: calc(100% - 8px);
    aspect-ratio: 16/10;
    border-radius: 16px;
    border: 4px solid transparent;
    overflow: hidden;
    /* margin-bottom: 8px; */
    display: flex;
    align-items: center;
}
.card .image img {
    width: calc(100%);
    min-height: 100%;
}
.card .title {
    width:       100%;
    font-size:   20px;
    line-height: 20px;
    font-weight: bold;
    margin-top:   4px;
}
.card .episode {
    width:       100%;
    height:      16px;
    font-size:   16px;
    line-height: 16px;
    margin-top:   4px;
    font-weight: bold;
}
.card .episode::before {
    content: 'Episodio ';
}
.card .hover {
    display: none;
    flex-direction: column;
    font-size: 12px;
    line-height: 16px;
    border: 1px solid black;
    background-color: rgb(255,255,255);
    padding: 4px 6px;
    user-select: none;
}
.card:hover .hover {
    display: flex;
    position: fixed;
    top: calc(var(--hover-top) + 16px);
    left: calc(var(--hover-left) + 16px);
}
/* ============================== */
/* === CARD VARIANT - UNKNOWN === */
/* ============================== */
.card.desconocido       .page    {                                                                  background-color: rgb(080, 080, 080); }
.card.desconocido:hover .page    { color: rgb(016, 016, 016); border-color: rgb(128, 128, 128); background-color: rgb(128, 128, 128); }
.card.desconocido       .image   {                              border-color: rgb(080, 080, 080); }
.card.desconocido:hover .image   {                              border-color: rgb(112, 112, 112); }
.card.desconocido       .title   { color: rgb(160, 160, 160); }
.card.desconocido:hover .title   { color: rgb(112, 112, 112); }
.card.desconocido       .title b { color: rgb(160, 160, 160); }
.card.desconocido:hover .title b { color: rgb(128, 128, 128); }
.card.desconocido       .episode { color: rgb(096, 096, 096); }
.card.desconocido:hover .episode { color: rgb(160, 160, 160); }
.card.desconocido       .hover b { color: rgb(192, 128, 160); }
.card.desconocido:hover .hover b { color: rgb(255, 064, 128); }
/* ============================ */
/* === CARD VARIANT - ANIME === */
/* ============================ */
.card.anime       .page   , .card.live       .page    {                                                                  background-color: rgb(080, 080, 096); }
.card.anime:hover .page   , .card.live:hover .page    { color: rgb(016, 016, 024); border-color: rgb(064, 128, 255); background-color: rgb(064, 128, 255); }
.card.anime       .image  , .card.live       .image   {                              border-color: rgb(080, 080, 096); }
.card.anime:hover .image  , .card.live:hover .image   {                              border-color: rgb(064, 128, 255); }
.card.anime       .title  , .card.live       .title   { color: rgb(128, 160, 192); }
.card.anime:hover .title  , .card.live:hover .title   { color: rgb(064, 128, 255); }
.card.anime       .title b, .card.live       .title b { color: rgb(192, 128, 160); }
.card.anime:hover .title b, .card.live:hover .title b { color: rgb(255, 064, 128); }
.card.anime       .episode, .card.live       .episode { color: rgb(064, 096, 128); }
.card.anime:hover .episode, .card.live:hover .episode { color: rgb(128, 160, 192); }
.card.anime       .hover b, .card.live       .hover b { color: rgb(192, 128, 160); }
.card.anime:hover .hover b, .card.live:hover .hover b { color: rgb(255, 064, 128); }
/* ============================= */
/* === CARD VARIANT - HENTAI === */
/* ============================= */
body:not(.ac) .card.hentai .page      { display: none; } 
body:not(.ac) .card.hentai .image img { filter: blur(16px); scale: 1.125; } 
body:not(.ac) .card.hentai .title     { filter: blur( 4px); } 
body:not(.ac) .card.hentai .episode   { filter: blur( 4px); } 
body:not(.ac) .card.hentai .hover     { filter: blur( 4px); z-index: 1; } 
.card.hentai       .page    {                                                                  background-color: rgb( 96,  80,  80); }
.card.hentai:hover .page    { color: rgb( 24,  16,  16); border-color: rgb(255, 064, 128); background-color: rgb(255,  64, 128); }
.card.hentai       .image   {                              border-color: rgb( 96,  80,  80); }
.card.hentai:hover .image   {                              border-color: rgb(255, 064, 128); }
.card.hentai       .title   { color: rgb(192, 128, 160); }
.card.hentai:hover .title   { color: rgb(255,  64, 128); }
.card.hentai       .title b { color: rgb(128, 160, 255); }
.card.hentai:hover .title b { color: rgb(064, 128, 255); }
.card.hentai       .episode { color: rgb(128,  64,  96); }
.card.hentai:hover .episode { color: rgb(192, 128, 160); }
.card.hentai       .hover b { color: rgb(128, 160, 255); }
.card.hentai:hover .hover b { color: rgb(064, 128, 255); }
/* ============================ */
/* === CARD VARIANT - ANIME === */
/* ============================ */
.card.pelicula       .page    {                                                                  background-color: rgb(080, 096, 080); }
.card.pelicula:hover .page    { color: rgb(016, 024, 016); border-color: rgb(128, 255, 064); background-color: rgb(128, 255, 064); }
.card.pelicula       .image   {                              border-color: rgb(080, 096, 080); }
.card.pelicula:hover .image   {                              border-color: rgb(128, 255, 064); }
.card.pelicula       .title   { color: rgb(160, 192, 128); }
.card.pelicula:hover .title   { color: rgb(128, 255, 064); }
.card.pelicula       .title b { color: rgb(128, 160, 192); }
.card.pelicula:hover .title b { color: rgb(064, 128, 255); }
.card.pelicula       .episode { color: rgb(096, 128, 064); }
.card.pelicula:hover .episode { color: rgb(160, 192, 128); }
.card.pelicula       .hover b { color: rgb(128, 160, 192); }
.card.pelicula:hover .hover b { color: rgb(064, 128, 255); }

/* ================= */
/* === NAVIGATOR === */
/* ================= */
.navigator {
    /* position: fixed; */
    bottom: 0;
    margin: auto;
    width: 100%;
    max-width: var(--max-width);
    user-select: none;
    z-index: 2;
}
.navigator .content {
    display: flex;
    width: fit-content;
    background-color: rgb(016, 016, 016);
    margin: auto;
    border: 4px solid rgb(064, 064, 064);
    border-radius: 16px 16px;
    padding: 8px;
    gap: 8px;
}
.navigator .content a {
    color: white;
    display: block;
    width: 24px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    flex: 0 0 auto;
    font-family: monospace;
    text-decoration: none;
    background-color: rgb(128, 128, 128);
}
.navigator .content a.current {
    background-color:rgb(192, 128, 160);
}
.navigator .content a.button {
    background-color:rgb(128, 160, 192);
}
.navigator .content a.button:hover {
    background-color:rgb(064, 128, 255);
}

.dayNavigator {
    /* position: fixed; */
    bottom: 0;
    margin: auto;
    width: 100%;
    max-width: var(--max-width);
    user-select: none;
    z-index: 2;
}
.dayNavigator .content {
    display: grid;
    background-color: rgb(016, 016, 016);
    margin: auto;
    border: 4px solid rgb(064, 064, 064);
    border-radius: 16px 16px;
    padding: 8px;
    gap: 8px;
    grid-template-columns: repeat(7, 1fr);
}
.dayNavigator .content a {
    color: white;
    display: block;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    flex: 0 0 auto;
    font-family: monospace;
    text-decoration: none;
    background-color: rgb(128, 128, 128);
}
.dayNavigator .content a.button {
    background-color:rgb(128, 160, 192);
}
.dayNavigator .content a.current {
    background-color:rgb(192, 128, 160);
}
.dayNavigator .content a.button:hover {
    background-color:rgb(064, 128, 255);
}
.dayNavigator .message {
    color: rgb(255, 160, 192);
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    padding: 16px 16px 0 16px;
}


.clickable { user-select: none; cursor: pointer; }
.clickable:focus { user-select: none; cursor: inherit; }